body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 16px 60px 32px 60px;
}

.header, ul, .hero-container, 
.content-container, .footer,
.information-container, .card-container,
.card, .quote-container, .quote-card, 
.cta-box, .cta-container{
  display: flex;
}

.header {
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 10px;
}

a {
  text-decoration: none;
}

.hero-container {
  justify-content: space-between;
  padding: 20px 0px;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.sub-text, a {
  color: #e5e7e8;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 6px;
  margin-top: 5px;
}

.placeholder {
  background-color: #e5e7eb;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.content-container {
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.information-container {
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin: 8px;
}

.card-container{
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}

.card {
  width: 100px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.card .image {
  border: solid blue;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  padding: 16px;
  margin-bottom: 8px;
}

.quote-container {
  background-color: #e5e7eb;
  justify-content: center;
  padding: 20px;
}

.quote {
  font-size: 36px;
  font: light italic;
  color: #1f2937;
}

.quote-card {
  flex-direction: column;
}

.quote-author {
  margin-left: auto;
}

.cta-box {
  margin: 10vw;
  box-sizing: border-box;
  justify-content: center;
  padding: 16px 60px;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 4px;
}

.cta-container {
  flex-direction: column;
  color: #f9faf8;
}

.cta-box button{
  border: 1px solid #f9faf8
}

.footer {
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 24px;
}
